.SudukoBox{
    z-index: 1;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(9, 1fr);
    border: 2px solid black;
    left: 50%;
    top: 50% ;
    transform: translate(-50%, -50%);
    width: 60vmin;
    aspect-ratio: 1/1;
    outline: 1px solid black;
    position: absolute;
}
.FatBox
{
    z-index: 2;
    pointer-events: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 60vmin;
    aspect-ratio: 1/1;
    position: absolute;
}
.numberBox
{
    width: 100%;
    height: 100%;
    align-items: center;
    text-align: center;
    font-size: 1rem;  
    padding: 0%;
    margin: 0%;
    aspect-ratio: 1/1;
    outline: 1px solid black;
}
.buttons
{
    position: absolute;
    left: 50%;
    top: 85%;
    transform: translate(-50%,-50%);
    align-items: center;
    display: grid;
    grid-template-columns: repeat(9,1fr);
    width: 50%;

}

.button {
  width: 50px;
  height: 50px;
  border-radius: 25%;
    font-size: xx-large;
  position: relative;
}
.SmallerFatBox{
    pointer-events: none;
    width: 100%;
    height: 100%;
    padding: 0%;
    margin: 0%;
    outline: 2px solid black;
}
.numberPar{
    pointer-events: none;
    user-select: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    font-weight: bolder;
    align-items: center;
    text-align: center;

}
.hide{
    
    visibility: hidden;
}
.curentNum{
    background-color: aquamarine;
}
.correct{
    background-color: green;
}
.wrong{
    background-color: red;
}


.difficulty {
  position: relative;
  display: inline-block;
}

.difficultybtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.difficulty-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.difficulty-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.difficulty-content a:hover {background-color: #ddd;}

.difficulty:hover .difficulty-content {display: block;}
.difficulty:hover .difficultybtn {background-color: #3e8e41;}
